  name: Based GigaCI

  on:
    push:
      branches:
        - trunk
    pull_request:
      branches:
        - trunk

  jobs:
    build:
      runs-on: ubuntu-latest

      steps:
        - name: Checkout
          uses: actions/checkout@v4

        - name: Set up JDK17
          uses: actions/setup-java@v4
          with:
            java-version: '17'
            distribution: 'oracle'

        - name: Gradle Setup
          uses: gradle/actions/setup-gradle@v3
          with:
            add-job-summary-as-pr-comment: on-failure

        - name: Set executable permissions for Gradle
          run: chmod +x gradlew.bat

        - name: Gradle Build
          run: ./gradlew.bat build -x test

        - name: Run tests
          run: |
            ./gradlew.bat test
            echo "${{ job.status }}"